/**
 * @author: Nash Adam Muñoz
 * @co-authors: 
 * @filename: general_styles.css
 * @version: Alpha 1
 * @lastupdate: June 14, 2024
 */

body {
    background-color: #344799 !important;
    height: 100vh;
}

@media only screen and (min-width: 1130px) {
    .container-fluid {
        height: 100%;
    }
}

@media only screen and (max-width: 750px) {
    .container-fluid {
        height: 100%;
    }
}


/*⋆ ˚｡⋆୨୧˚ BUTTONS ˚୨୧⋆｡˚⋆*/
.dashboard-button{
    display: flex;
    justify-content: end;
    gap: 13px;
    height: 45px;
    margin: 20px 0;
}


/*⋆ ˚｡⋆୨୧˚ DASHBOARD CARDS ˚୨୧⋆｡˚⋆*/
.dashboard-icons-cont{
    display: flex;
    justify-content: center;
    height: auto;
    margin: 20px 0 !important;
}

.dashboard-icons{
    height: 160px;
    width: 160px;
    padding: 10px;
    border-radius: 8px;
    color: #344799;
    margin-bottom: 20px;
    background: #edf6f7;
}

.dashboard-icons div{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 85%;
    gap: 8px;
}

.dashboard-icons div div{
    font-size: 50px;
}

.dashboard-icons img{
    height: 80px;
}

.dashboard-icons p{
    font-size: 15px;
    text-align: right;
}

.dashboard-icons:hover {
    color: white;
    background-color: #344799;
}

@media only screen and (max-width: 400px) {
    .dashboard-icons {
        height: 140px;
        width: 140px;
    }

    .dashboard-icons img {
        height: 70px;
    }
}

@media only screen and (min-width: 750px) {
    .dashboard-icons {
        height: 250px;
        width: 250px;
    }

    .dashboard-icons img {
        height: 150px;
    }

    .dashboard-icons div div{
        font-size: 70px;
    }

    .dashboard-icons p {
        font-size: 20px;
    }
}