.displayflex{
    display: flex;
    justify-content: center;
}

body {
    background-color: #344799 !important;
    height: 100vh;
}


/*⋆ ˚｡⋆୨୧˚ CONTENT ˚୨୧⋆｡˚⋆*/
.billings-content{
    margin-top: 35px;
}

.billings-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.billings-header button{
    height: 45px;
}

.direction-column{
    flex-direction: column;
}


/*⋆ ˚｡⋆୨୧˚ TABLE ˚୨୧⋆｡˚⋆*/
.table-section{
    background-color: #EDF6F7;
    margin-top: 20px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
}

.table-cont-1{
    display: flex;
    justify-content: space-between;
    height: 35px;
    margin-bottom: 30px;
}

.table-cont-1-1{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center; 
}

.table-cont-1-1 button{
    height: 100%;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: #F4F6FF;
}
  
td, 
th {
    padding: 8px;
}

th {
    background-color: #344799;
}

.action-buttons button {
    background-color: white;
}


/*⋆ ˚｡⋆୨୧˚ SLIDER ˚୨୧⋆｡˚⋆*/
.tab-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgba(229,229,229);
    position: relative;
}

.tab-box .tab-btn{
    font-size: 18px;
    font-weight: 600;
    color: #919191;
    background: none;
    border: none;
    padding: 18px;
    cursor: pointer;
}

.tab-box .tab-btn.active{
    color:#344799;
}

.content-box{
    padding: 20px;
}

.content-box .content{
    display: none;
}

.content-box .content.active{
    display: block;
}

.line{
    position: absolute;
    top: 62px;
    left: 0;
    width: 90px;
    height: 5px;
    background-color:#344799;
    border-radius: 10px;
    transition: all .3s ease-in-out;
}

.completed th{
    background-color: #00BA00;
}
.canceled th{
    background-color: #D53737;
}


/*⋆ ˚｡⋆୨୧˚ MODAL ˚୨୧⋆｡˚⋆*/
.modalcolumn .row {
    align-items: center;
    margin-bottom: 10px;
}

.modalcolumn .col-md-4 {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

.modalcolumn .col-md-8 {
    display: flex;
    align-items: center;
}

.form-label {
    margin-bottom: 0;
    padding-top: 5px;
}

.form-control, .form-select {
    width: 100%;
    box-shadow: none;
}

.action{
    padding: 0%;
    height: 37.5px;  
    border: none;
}

label{
    color: rgba(2, 67, 154, 0.50);
}

.overflow-auto::-webkit-scrollbar {
    width: 0 !important;
}
.overflow-auto {
    scrollbar-width: none;
}