/*====================General Styles====================*/

.modal-content {
    background-color: #edf6f7 !important;
}

.modal-content input,
.modal-content select {
    border: none;
}

.modal-content select {
    background-color: white;
}

.modal-content input[type=text],
.modal-content input[type=number],
.modal-content input[type=date],
.modal-content select {
    padding: 3px 10px;
}



/*====================Add/Edit Tenant Styles====================*/

/* Residents Modal */
.modal-title{
    color: #344799;
    font-weight: bold;
    font-size: 30px;
}

/* Modal Body Area*/
.label-position{
    display: flex;
}

.label-under{
    font-size: 9px;
}

.label-fn{
    width: 25.3%;
}

.label-mi{
    width: 7%;
}

.label-ln{
    width: 25%;
}

.label-fn,
.label-mi,
.label-ln{
    display: flex;
    justify-content: center;
}

/* .modal-body input[type=text]{
    padding: 3px 10px;
}

.modal-body input[type=date]{
    padding: 5px;
}

.modal-body select{
    padding: 1px 3px 3px 3px;
    width: 12%;
} */

/* Name */
.NameInput{
    width: 60%;
}

.FNclass{
    width:43%;
}

.MIclass{
    width: 8%;
}

.LNclass{
    width: 45%;
}

.positioning{
    display: flex;
    justify-content: space-between;
}

/* Address */
.houseno{
    width: 8%;
}

.street{
    width: 25%;
}

.barangay{
    width: 25%;
}

.city{
    width: 24%;
}

.province{
    width: 15%;
}

.label-houseno{
    width: 8%;
}

.label-street{
    width: 26%;
}

.label-barangay{
    width: 25%;
}

.label-city{
    width: 25%;
}

.label-province{
    width: 15%;
}

.label-houseno,
.label-street,
.label-barangay,
.label-city,
.label-province{
    display: flex;
    justify-content: center;
}

/* Contact Number */
.countrycode{
    width: 8%;
}

/* Appliances */
.deleteappliance{
    height: 30px;
    vertical-align: text-bottom;
}

.displayflex{
    display: flex;
    justify-content: center;
}

/* Tenant Information Modal */
.split-left{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.split-right{   
    width: 50%;
    display: flex;
    flex-direction: column;
}

.modal-footer-custom{
    padding: 0px 15px;
    border-radius: 10px;
}

 

/*====================Add Payment Modal====================*/
.action{
    padding: 0%;
    height: 37.5px;  
    border: none;
}

.small-text{
    font-size: 11px;
    color: #02449a86;
    text-align: center;
}

.month-allocated-cont{
    display: flex;
    gap: 10px;
}

.month-allocated-cont div{
    width: 100%;
}

.month-allocated-cont div input{
    width: 100%;
    margin: 7px 3px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
}

.action-buttons button{
    border: none;
}

#addPaymentModal input[type=text], 
#tenantName,
#monthAllocated, 
.selectize-input{
    width: 100%;
    margin: 8px 0;
    padding: 7px;
    box-sizing: border-box;
    border: none;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
    display: block;
    border-radius: 8px;
}

#addPaymentModal input[type="checkbox"] {
    transform: scale(1.5);
    margin: 5px; 
}

div.modal-content.bg-custom {
    /* your styles here */
    padding: 0px 20px;
}

.billings-modal-labels{
    color: #02439A;
}

.add-button{
    padding: 5px 85px;
}

.add-cont{
    display: flex;
    justify-content: center;
    margin: 30px;
}

.custom-checkbox{
    color: rgb(126, 126, 126);
}

#end-date:disabled{
    background-color: #D5DDDE;
}
