/*====================General Styles====================*/

.modal-content {
    background-color: #edf6f7 !important;
    padding: 0 20px;
}

.modal-content input,
.modal-content select {
    border: none;
}

.modal-content select {
    background-color: white;
}

.modal-content input:disabled{
    background-color: #D5DDDE;
}

/*====================Add/Edit Tenant Styles====================*/

/* Residents Modal */
.modal-title{
    color: #344799;
    font-weight: bold;
    font-size: 30px;
}

.add-new-tenant-label {
    color: #779CC8;
    font-weight: bold;
    font-size: 16px;
}

.add-new-tenant-sup-label  {
    color: #779CC8;
    font-weight: bold;
    font-size: 10px;
    display: block;
    text-align: center;
}

.form-control.shadow {
    font-weight: bold;
    padding: 5px 10px;
}

::placeholder {
    font-weight: bold; /* Bold placeholder text */
}

/* Appliance Input Styling */
#applianceContainer input[type="text"],
#Edit-applianceContainer input[type="text"] {
    display: inline-block;
    width: calc(50% - 50px); /* Adjust width to accommodate delete button */
    margin-right: 10px;
    font-weight: bold;
    padding: 5px 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .modal-dialog {
        margin: 1.75rem auto;
    }

    .form-control.shadow {
        font-size: 14px;
        padding: 5px 10px;
    }
}
/*====================Add Payment Modal====================*/
.input-label {
    color: #779CC8;
    font-weight: bold;
    font-size: 16px;
}

.input-sub-label {
    font-size: 10px;
    color: #779CC8;
    font-weight: bold;
}

.action{
    padding: 0%;
    height: 37.5px;  
    border: none;
}

.small-text{
    font-size: 11px;
    color: #02449a86;
    text-align: center;
}

.month-allocated-cont{
    display: flex;
    gap: 10px;
}

.month-allocated-cont div{
    width: 100%;
}

.month-allocated-cont div input{
    width: 100%;
    margin: 7px 3px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
}

.action-buttons button{
    border: none;
}

#addPaymentModal input[type=text], 
#tenantName,
.searchable-drop-down,
#monthAllocated, 
.selectize-control .selectize-input,
.rounded-inputs{
    width: 100%;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
    display: block;
    border-radius: 8px;
}

.uniform-aligned-inputs{
    width: 70%;
}

.selectize-control.single .selectize-input{
    height: 38px;
}

.selectize-input.items.not-full.has-options, .selectize-input.items.has-options.full.has-items {
    display: flex;
    align-items: center;
}

#addPaymentModal input[type="checkbox"] {
    transform: scale(1.5);
    margin: 5px; 
}

div.modal-content.bg-custom {
    padding: 0px 20px;
}

.billings-modal-labels{
    color: #02439A;
}

.add-button{
    padding: 5px 85px;
}

.add-cont{
    display: flex;
    justify-content: center;
    margin: 30px;
}

.custom-checkbox{
    color: rgb(126, 126, 126);
}

#end-date:disabled{
    background-color: #D5DDDE;
}

/* Updated padding */
input, select {
    padding: 5px 10px; /* 5px padding top and bottom, 10px left and right */
    width: 100%;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
    display: block;
    border-radius: 8px;
}

/* Placeholder color */
input::placeholder, select::placeholder {
    color: #779CC8; /* Match the color of the input labels */
    opacity: 1; /* Ensure the color is not faded */
}

/* Specific for select elements */
select option {
    color: #779CC8; /* Ensure selected options have the same color */
}

/* ======== PAYER INFO CSS ======== */
form .payer-info{
    display: flex;
    flex-direction: row;
    gap: 7px;
}

form .payer-info #payer-MI{
    width: 30px;
}

.payer-details{
    margin-top: 25px;
    display: none;
}

/* EDIT BILLINGS MODAL */
.edit-billings-cont{
    display: flex;
    flex-direction: column;
}

.edit-billings-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.light-blue-text{
    color: #6187b5;
    margin: 0;
}


/* ======== DELETE MODALS ======== */
.confirmation-question {
    font-size: 28px;
    margin-bottom: 20px;
    color: #344799;
    font-weight: bold;
  }
  
  /* Center the buttons in the footer */
  .button-container {
    display: flex;
    justify-content: center;
    gap: 10px; /* Adjust spacing between buttons */
    margin-bottom: 20px; /* Add space below buttons */
  }

  .btn-delete-yes {
    background-color: #344799 !important; /* Default Bootstrap danger color */
    color: white !important;
    width: 150px; /* Increase width */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold; /* Make the text bold */
  }
  
  .btn-delete-yes:hover {
    background-color: #fff !important;
    color: #344799 !important;
  }
  
  .btn-delete-no {
    background-color: #D6DEDF !important; /* Default Bootstrap secondary color */
    color: #344799 !important;
    width: 150px; /* Increase width */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold; /* Make the text bold */
  }
  
  .btn-delete-no:hover {
    background-color: white !important;
    color: gray !important;
  }
  
  /* Style for the note */
  .note {
    font-size: 12px;
    color: #779CC8;
    text-align: center;
  }